<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>adjservlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BroadbandConnectionsServlet</display-name>
    <servlet-name>BroadbandConnectionsServlet</servlet-name>
    <servlet-class>BroadbandConnectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadbandConnectionsServlet</servlet-name>
    <url-pattern>/BroadbandConnectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepaidDetailsServlet</display-name>
    <servlet-name>PrepaidDetailsServlet</servlet-name>
    <servlet-class>PrepaidDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepaidDetailsServlet</servlet-name>
    <url-pattern>/PrepaidDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ab</display-name>
    <servlet-name>ab</servlet-name>
    <servlet-class>ab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ab</servlet-name>
    <url-pattern>/ab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abv</display-name>
    <servlet-name>abv</servlet-name>
    <servlet-class>abv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abv</servlet-name>
    <url-pattern>/abv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sda</display-name>
    <servlet-name>sda</servlet-name>
    <servlet-class>sda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sda</servlet-name>
    <url-pattern>/sda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdas</display-name>
    <servlet-name>asdas</servlet-name>
    <servlet-class>asdas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdas</servlet-name>
    <url-pattern>/asdas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sadas</display-name>
    <servlet-name>sadas</servlet-name>
    <servlet-class>sadas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sadas</servlet-name>
    <url-pattern>/sadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asd</display-name>
    <servlet-name>asd</servlet-name>
    <servlet-class>asd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/asd</url-pattern>
  </servlet-mapping>
</web-app>